{# genes.html #}
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load bootstrap4 %}

{% block page_content %}

<div class="row m-1">
	{% if filter %}
	<div class="col-md-3 m-2" style="min-width: 350px;" >
		<p>
		<div class=" row m-1">
			<form action="" method="get" class="form">
				{% bootstrap_form filter.form layout='horizontal' %}
				{% bootstrap_button 'filter' %}
				<a class="btn btn-link" href="{% url 'gene_list' %}">clear filters</a>
			</form>
		</div>
	</div>
	{% endif %}
	<div class="col m-2"  >
		<div class=" row m-1">
			<div class="table-responsive">
				{% render_table table %}
			</div>
		</div>
		<div class="row m-1">
			<div class="col-md-12 d-flex justify-content-center">
				<div align="center">Displaying {{ table.page.start_index }} to {{ table.page.end_index }} of {{ table.page.paginator.count }}.</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
