{# genes.html #}
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load bootstrap4 %}

{% block page_content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ scaffold.sample.get_absolute_url }}"">Sample {{ scaffold.sample.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ scaffold.get_absolute_url }}">Scaffold {{ scaffold.scaffold }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Genes</li>
  </ol>
</nav>
<div class="row m-1">
	{% render_table table %}
</div>
{% endblock %}
