{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block page_content %}
<div class="row">
  <div class="col-md-12">
    <p>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">The Carbapenem-resistant Enterobacteriaceae (CRE) Genome Database Project</h5>
        <p>The in<strong>CREDB</strong>le database stores resistance profiles and genomic information
          (genome sequence and resistance genes) for over 450 antiobiotic-resistant
          bacterial samples.
        </p>
        <p>The project is a collaboration between the CNAG, Roche Diagnostics and Dr. Germán Bou (Head of the Microbiology Service for the Galician Health Service SERGAS),
        who has coordinated the collection and DNA extraction of antiobiotic-resistant
        bacteria from Spanish hospitals.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
